html,body 
{
  text-align: center;
}
.button{
  font-size: 40px;
}
con.
form{
  display: grid;
  grid-gap: 10px;
}
.errors
{
      background-color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
  border-radius: 50px;
}
.success
{
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 25px;
    text-align: center;
  border-radius: 50px;
}
.container
{
  width:80%;
  max-width:800px;
  border-radius: 50px;
  padding:10px;
}
